# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import seaborn as sns
import matplotlib as plt

%matplotlib inline

In [26]:
sns.set_theme(
    style = 'whitegrid'
    
    



)

In [27]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [48]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  Absolutely horrible experie...
1  Not Verified |  This is the worst airline. Not...
2  ✅ Trip Verified |  I will never fly British Ai...
3  ✅ Trip Verified |  Worst aircraft I have ever ...
4  ✅ Trip Verified |  I enjoyed my flight. The bo...

In [49]:
df.to_csv("data/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [50]:
df

                                               reviews
0    ✅ Trip Verified |  Absolutely horrible experie...
1    Not Verified |  This is the worst airline. Not...
2    ✅ Trip Verified |  I will never fly British Ai...
3    ✅ Trip Verified |  Worst aircraft I have ever ...
4    ✅ Trip Verified |  I enjoyed my flight. The bo...
..                                                 ...
995  ✅ Trip Verified |  London to Zurich. The airli...
996  ✅ Trip Verified |  Glasgow to New York JFK via...
997  ✅ Trip Verified |  Flew on a last minute emerg...
998  ✅ Trip Verified |  Earlier this year, my wife ...
999  Not Verified |  Los Angeles to London. I booke...

[1000 rows x 1 columns]

In [51]:
df['reviews'] = df['reviews'].str.replace('✅ ', '')

df

In [52]:
df

                                               reviews
0    Trip Verified |  Absolutely horrible experienc...
1    Not Verified |  This is the worst airline. Not...
2    Trip Verified |  I will never fly British Airw...
3    Trip Verified |  Worst aircraft I have ever fl...
4    Trip Verified |  I enjoyed my flight. The boar...
..                                                 ...
995  Trip Verified |  London to Zurich. The airline...
996  Trip Verified |  Glasgow to New York JFK via L...
997  Trip Verified |  Flew on a last minute emergen...
998  Trip Verified |  Earlier this year, my wife an...
999  Not Verified |  Los Angeles to London. I booke...

[1000 rows x 1 columns]

In [54]:
def getverify(x):
        
        text =  x.split('|')[-1]
        return text

In [55]:
df['reviews'] = df['reviews'].apply(lambda x: getverify(x))

In [60]:
df

                                               reviews
0      Absolutely horrible experience. I booked a t...
1      This is the worst airline. Not one thing wen...
2      I will never fly British Airways again. To s...
3      Worst aircraft I have ever flown. The seats ...
4      I enjoyed my flight. The boarding was swift ...
..                                                 ...
995    London to Zurich. The airline isn’t bad. The...
996    Glasgow to New York JFK via London. Outgoing...
997    Flew on a last minute emergency trip London ...
998    Earlier this year, my wife and I travelled b...
999    Los Angeles to London. I booked with AA, LAX...

[1000 rows x 1 columns]

In [67]:
text = "The film Titanic was released in 1998"

In [68]:
import re

In [71]:
f = re.match(r"film", text)

In [72]:
f

In [81]:
result = re.match(r"[a-zA-z]+", text)

In [82]:
type (result)

re.Match

In [76]:
type(f)

NoneType

In [87]:
result.group(1)

IndexError: no such group